@{
    ViewBag.Title = "About My Project";
    ViewBag.Message = "Introduction";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to my Video Gallery application.
    This independent project was submitted for completion of my ASP.NET MVC class.
</p>

<h3>Requirements</h3>

<ul>
    <li>Catalog search feature should be available on home screen.</li>
    <li>Catalog search feature should be available to anonymous users.</li>
    <li>Visitors should be able to search catalog by video title, year, and director name. When multiple search criteria are specified, system should use “AND” logic.</li>
    <li>When partial title or name is provided as search criteria, system should use “CONTAINS” logic.</li>
    <li>Search results should contain movie title, year, and director’s name.</li>
    <li>Selecting a video from the search results should take user to video details page.</li>
    <li>Video details page should be available only to authenticated users.</li>
    <li>Users can authenticate by entering their user name and password.</li>
    <li>
        Video details page should display the following information about the video:
        •	Title
        •	Year
        •	Director’s name
        •	Average rating
        •	Plot summary
        •	Poster image
        •	List of user reviews if available
    </li>
    <li>Web application should allow visitors to register.</li>
    <li>Application should include navigation menu</li>
    <li>Application should have consistent look and feel</li>
</ul>



