@{
    ViewBag.Title = "Contact Me";
    ViewBag.Message = "Kathleen West";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lafayette, Indiana<br />
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:kathleen.elizabeth.west@gmail.com">kathleen.elizabeth.west@gmail.com</a>
</address>