
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Not Found</h2>
<h3>The page @Request.QueryString["aspxerrorpath"] does not exist</h3>
<img src="~/Content/images/404.jpg" alt="404 Cat Not Found" />

